{% extends 'catalog/base.html' %}

{% load static %}

{% block content %}

    <h1 class="h3 mb-3">{{ title }}</h1>
    <p class="mb-4">Вы находитесь на сайте, предназначенном для продажи товаров.</p>

    <h2 class="mb-3">Последние 5 продуктов</h2>

    {% if latest_products %}
      <div class="row">

        {% for product in latest_products %}
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">

              {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
              {% else %}
                <img src="{% static 'catalog/placeholder.png' %}" class="card-img-top" alt="Нет изображения">
              {% endif %}

              <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <h1 class="card-title pricing-card-title">{{ product.price }} руб.</h1>

                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ product.description|slice:":100" }}...</li>
                </ul>

                <button type="button" class="btn btn-lg btn-outline-primary">Купить</button>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    {% else %}
      <p>Продукты пока не добавлены.</p>
    {% endif %}

{% endblock %}